package main

import (
	"fmt"
	"log/slog"
	"net"
	"os"
	"os/signal"
	"syscall"

	"{{PROJECT_NAME}}/protocol"

	"dev.azure.com/zoit/zoit-socket-framework/_git/zoit-socket-framework/engine/server-go/pkg/config"
	"dev.azure.com/zoit/zoit-socket-framework/_git/zoit-socket-framework/engine/server-go/pkg/logger"
	"dev.azure.com/zoit/zoit-socket-framework/_git/zoit-socket-framework/engine/server-go/pkg/network"
)

func main() {
	cfg := config.Load()
	logger.Init(cfg.NodeEnv)

	slog.Info("서버 시작")

	srv := network.NewServer(cfg)

	// 프로토콜과 핸들러 바인딩
	protocol.Register(srv, OnRecvPacket)

	srv.OnConnect = func(conn net.Conn) {
		sess := network.NewSession(conn)
		sess.SetUDPServer(srv.UDP)

		slog.Info("[Server] 새 클라이언트 접속", "addr", sess.RemoteAddr)
		sess.HandleConnection(srv)
		slog.Info("[Server] 클라이언트 접속 종료", "addr", sess.RemoteAddr)
		sess.Close()
	}

	if err := srv.Start(); err != nil {
		slog.Error("서버 가동 실패", "err", err)
		os.Exit(1)
	}

	sigCh := make(chan os.Signal, 1)
	signal.Notify(sigCh, syscall.SIGINT, syscall.SIGTERM)
	<-sigCh
	srv.Stop()
}

// OnRecvPacket - 패킷 수신 핸들러
func OnRecvPacket(s protocol.ISession, msg any) {
	switch m := msg.(type) {
	case *protocol.Msg_AuthLoginReq:
		slog.Info("[Handler] 로그인 요청 수신", "id", m.LoginID)

	case *protocol.Msg_SystemTCPHeartBitReq:
		slog.Debug("[Handler] 하트비트 수신", "clientTime", m.ServerTime)

	default:
		slog.Warn("[Handler] 미처리 패킷 수신", "type", fmt.Sprintf("%T", msg))
	}
}
